{% extends 'layout.html' %}

{% block content %}
    <div class="container">


        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>用户</th>
                    <th>img</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.name }}</th>
                        <td>
                            <img src="/media/output_obj_dect/{{ obj.img }}" style="max-width: 640px; max-height: 640px;">
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
